{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block main %}

<div class="uk-margin uk-margin-left">
    <h1>About Commune</h1>
    <p>Hi! My name is <a href="https://www.github.com/jeff-eng">Jeff Eng</a> and I'm the developer of Commune.</p>
    <p>
        This web app was inspired by a final project challenge for the Harvard CS50 Intro to Computer Science course. My motivation for
        this app was to solve a practical problem where I would loan things out to friends and family, then end up forgetting who borrowed 
        which item. This app aims to solve that problem by creating an inventory system with ability to check out and return items
        like you would in a library.
    </p>
    <p>The app is built using Django and Django REST framework integrated with JavaScript to provide a seamless user experience and minimize page reloads.</p>
    <p>Thank you for making a rest stop at Commune on your road trip around the web!</p>
</div>

{% endblock %}