{% extends "layout.html" %}

{% block title %} Details {% endblock %}

{% block main %}
{% if user.is_authenticated and user == asset.owner %}
<h1>{{ asset.name }}</h1>
<p>Category: 
    {% for category in asset.category.all %}
        {{ category }}
        {% if not forloop.last %}
            <!-- Display a comma after each category except for last in list -->
            , 
        {% endif %}
    {% endfor %}
</p>
<p>Manufacturer: {{ asset.manufacturer }}</p>
<p>Model: {{ asset.model }}</p>
<p>Description: {{ asset.description }}</p>
<p>Condition: {{ asset.get_condition_display }}</p>
{% if asset.return_date is not None %}
    <p id="due-back-pg">Due back: {{ asset.return_date }}</p>
    {% csrf_token %}
    <button class="return-btn" data-uid="{{ asset.uid }}">Mark as Returned</button>
{% endif %}
{% endif %}
<p><a href="/dashboard">Return to Dashboard</a></p>
{% endblock %}

{% block javascript %}{% endblock %}