{% extends "layout.html" %}

{% block title %} Details {% endblock %}

{% block main %}
<a href="/dashboard"><span uk-icon="chevron-left"></span>Return to Dashboard</a>

{% if user.is_authenticated and user == asset.owner %}
<h1 class="uk-heading-divider uk-padding">{{ asset.name }}</h1>

<dl class="uk-description-list uk-description-list-divider uk-padding-large">
    <dt>Category</dt>
    <dd>
        {% for category in asset.category.all %}
            {{ category }}
            {% if not forloop.last %}
                / 
            {% endif %}
        {% endfor %}
    </dd>
    <dt>Manufacturer</dt>
    <dd>{{ asset.manufacturer }}</dd>
    <dt>Model</dt>
    <dd>{{ asset.model }}</dd>
    <dt>Condition</dt>
    <dd>{{ asset.get_condition_display }}</dd>
    <dt>Description</dt>
    <dd>{{ asset.description }}</dd>
    <dt >Borrower</dt>
    <dd id="detail-borrower">{{ asset.borrower }}</dd>
    {% if asset.return_date is not None %}
        <dt>Due Back</dt>
        <dd id="detail-returndate">{{ asset.return_date }}</dd>
        {% csrf_token %}
        <hr>
        <button class="return-btn uk-button uk-button-primary" data-uid="{{ asset.uid }}">Mark as Returned</button>
    {% endif %}
        <button id="delete-btn" class="uk-button uk-button-danger" data-uid="{{ asset.uid }}">Delete Asset</button>
</dl>

{% endif %}
{% endblock %}

{% block javascript %}{% endblock %}