{% extends "layout.html" %}
{% load static %}
{% block title%}Manage Borrowers{% endblock %}
{% block main %}
<h1 class="uk-margin-left uk-heading-divider">Borrower Management</h1>
<div id="add-borrower-modal" uk-modal>
<div class="uk-modal-dialog uk-modal-body">
<div class="uk-margin-left uk-margin-right">
    <form id="borrower-create-form" class="uk-grid-small" uk-grid action="" method="POST">
        {% csrf_token %}
        <div class="uk-margin uk-margin-auto uk-width-1-2@s"> 
            <label class="uk-form-label" for="firstname">Borrower's First Name</label>
            <input id="first" class="uk-input" type="text" name="firstname">
        </div>
        <div class="uk-margin uk-margin-auto uk-width-1-2@s">
            <label class="uk-form-label" for="lastname">Borrower's Last Name</label>
            <input id="last" class="uk-input" type="text" name="lastname">
        </div>
        <div class="uk-margin-left uk-margin-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <input id="borrower-submit" class="uk-button uk-button-primary uk-margin-auto-right" uk-toggle="target: #add-borrower-modal" type="submit" name="create" data-pk="{{ user.id }}" value="Add">
        </div>
    </form>
</div>
</div>
</div>
<div class="uk-margin-left uk-margin-right">
    <h2>Your List of Borrowers</h2>
    <ul id="borrower-list" class="uk-list uk-list-divider"></ul>
    <a href="#add-borrower-modal" id="add-borrower-btn" class="uk-icon-link" uk-icon="icon: plus-circle; ratio: 2" uk-tooltip="title: Add New Borrower to List; pos: right" uk-toggle></a>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/manage-borrowers.app.js' %}"></script>
{% endblock %}