{% extends "layout.html" %}

{% block title%}Manage Assets{% endblock %}

{% block main %}
<h1 class="uk-margin-left uk-margin-right uk-heading-divider">Asset Management</h1>
<form>
    <div class="uk-margin">
        <select name="asset-select" id="manage-asset-select" class="uk-select">
            <option value="" disabled selected>--Select Asset for Details--</option>
        </select>
    </div>
</form>

<h2 class="uk-margin-left">Edit Asset Details</h2>

<div class="uk-margin-left uk-margin-right">
    <form id="edit-asset-form" class="uk-form-horizontal" uk-grid>
        {% csrf_token %}
        <div class="uk-margin uk-margin-auto uk-width-1-3@s">
            <label class="uk-form-label" for="name" >Name</label>
            <input id="manage-asset-name-input" class="uk-input" type="text" name="name" required>
        </div>
        <div class=class="uk-margin uk-margin-auto uk-width-1-3@s">
            <label class="uk-form-label" for="manufacturer" >Manufacturer</label>
            <input id="manage-asset-manufacturer-input" class="uk-input" type="text" name="manufacturer" required>
        </div>
        <div class="uk-margin uk-margin-auto uk-width-1-3@s">
            <label class="uk-form-label" for="model">Model</label>
            <input id="manage-asset-model-input" class="uk-input" type="text" name="model" required>
        </div>
        <div class="uk-margin uk-margin-auto uk-width">
            <label class="uk-form-label" for="description">Description</label>
            <textarea name="description" id="manage-asset-description-textarea" class="uk-textarea" cols="30" rows="10" required></textarea>
        </div>
        <div class="uk-margin uk-margin-auto uk-width-1-2@s">
            <label class="uk-form-label" for="condition">Condition</label>
            <select class="uk-select" id="manage-asset-condition-select" name="condition" >
                <option value="" disabled selected>Select Condition</option>
                <option value="e">Excellent</option>
                <option value="g">Good</option>
                <option value="f">Fair</option>
                <option value="p">Poor</option>
            </select>
        </div>  
        <div class="uk-margin uk-margin-auto uk-width-1-2@s">
                <label class="uk-form-label" for="name">Category</label>
                <select class="uk-select" name="category" id="manage-asset-category-select">
                    <option value="" selected disabled>Select Category</option>
                    {% for category in categories %}
                    <option value="{{ category.pk }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
        </div>
        <div class="uk-margin">
            <button id="manage-asset-delete-btn" class="uk-button uk-button-danger" type="button">Delete Asset</button>
            <button id="manage-asset-save-btn" class="uk-button uk-button-primary" type="submit">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}