{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Commune - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    </head>
    
    <body>
        <header>
            <nav style="background-color: rgb(240, 239, 239)" class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/" alt="Home Page"><span uk-icon="icon: database; ratio: 3"></span></a>
                    {% if user.is_authenticated %}
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="/dashboard">Dashboard</a></li>
                        <li>
                            <a href="#">Manage</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-nav-header">Actions</li>
                                    <li><a href="/add-asset"><span uk-icon="plus-circle"></span>  Add New Asset</a></li>
                                    <li><a href="/manage-assets"><span uk-icon="pencil"></span>  Manage Assets</a></li>
                                    <li><a href="/manage-borrowers"><span uk-icon="users"></span>  Manage Borrowers</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="uk-navbar-nav">
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Sign Up</a></li>
                    </ul>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <button class="uk-margin-right uk-button uk-button-link uk-position-right" type="button"><span uk-icon="icon: cog"></span></button>
                <div uk-dropdown="mode: click; pos: top-right; offset: 10">
                    <p>Hello, {{ user.get_username }}!</p>
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="{% url 'change_password' %}">Change Password</a></li>
                        <li><a href="{% url 'logout' %}" class="uk-icon" uk-icon="sign-out">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
            </nav>  
        </header>
        
        {% block main %}{% endblock %}

        <script src="{% static 'js/uikit.min.js' %}"></script>
        <script src="{% static 'js/uikit-icons.min.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'js/libraries/moment/moment.min.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
        {% block script %}{% endblock %}
    </body>

</html>