{% extends 'layout.html' %}

{% block title%}Change Password{% endblock %}

{% block main %}

<h1 class="uk-margin-left uk-heading-divider">Change Password</h1>
<form method="POST" class="uk-margin-left uk-margin-bottom uk-margin-right uk-form-stacked">
    {% csrf_token %}
    <label class="uk-form-label">{{ form.old_password.label }}</label>
    {{ form.old_password }}
    <label class="uk-form-label">New password</label>
    {{ form.new_password1 }}
    <label class="uk-form-label">Confirm your new password</label>
    {{ form.new_password2 }}
    <button type="submit" class="uk-button uk-button-primary">Update My Password</button>
</form>

{% endblock %}