{% extends 'layout.html' %}

{% block title %}Password Changed{% endblock %}

{% block main %}
<h1 class="uk-heading-line uk-text-center">Your password has been successfully changed.</h1>
<p class="uk-text-center">You will be redirected to the Dashboard in five seconds...</p>
<p class="uk-text-center">Click <a href="{% url 'dashboard'%}">here</a> if you are not redirected automatically.</p>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            setInterval(() => {
                let currentURL = window.location.href;
                let newURL = currentURL.replace('password_success', 'dashboard');
                window.location.replace(newURL);
            }, 5000);
        });
    </script>
{% endblock %}